<nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed-top sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Cục Bột Yêu</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
             viewBox="0 0 16 16">
            <path d="M8 14s-5-3.5-5-7c0-2.5 2-4 5-4s5 1.5 5 4c0 3.5-5 7-5 7z"/>
        </svg>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about.about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('math_quiz03.math_quiz03') }}">Kiểm tra 01</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('math_quiz04.math_quiz04_route') }}">Kiểm tra 02</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('math_quiz02.guess_sum') }}">Tính Tổng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('math_quiz01.guess_difference') }}">Tính Hiệu</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Kết Quả
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('math_result.get_math_result03') }}">Quiz03</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('math_result.get_math_result04') }}">Quiz04</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('to_do_list.get_tasks') }}">TO DO LIST</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        MongoDB
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('mongo.mongobasics') }}">Basics</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('mongo.mongoflask') }}">Flask</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
