<ul class="navbar-nav">
    <p>Nav Bar</p>
<!--    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>-->
    <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">Home</a></li>
<!--    <li class="nav-item"><a class="nav-link" href="{{ url_for('mongo.mongo') }}">Mongo</a></li>-->
    <li class="nav-item"><a class="nav-link" href="{{ url_for('math_quiz01.math_quiz01') }}">Làm Toán</a></li>
<!--    <li class="nav-item"><a class="nav-link" href="{{ url_for('learnhtml.placeholder') }}">Learn HTML</a></li>-->

    <!-- Add other links as needed -->
</ul>
